#form {
    width: 35%;

    text-align: center;
}

#form > h2 {
    display: block;
    text-align: center;
}

#book-form {
    margin: 0 auto;
}

#book-form > fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;

    border: none;
    margin: 0 auto;
}


#book-form-search {
    margin: 20px 0;
    width: 250px;
    height: 30px;
    padding: 0 40px 0 10px;

    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 1.5em;
}

#book-form-search-icon {
    position: relative;
    top: 25px;
    right: 35px;
        
    font-size: 1.5em;
}

#book-form-restriction {
    margin: 20px 0;
    border: 1px solid #4682b4;
    border: 2px solid black;
    border-radius: 4px;
    padding-left: 10px;
    width: 200px;
    height: 35px;

    background-color: #4682b4;

    font-size: 1.2em;
    color: white;
}

#book-form > input[type="submit"] {
    display: block;
    margin: 10px auto;

    border: 2px solid black;
    border-radius: 4px;
    width: 200px;
    height: 40px;

    background-color: #4682b4;
    color: white;

    font-size: 1.3em;
}

#book-form > input[type="submit"]:active {
    background-color: darkcyan;
}

#search-results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin: 40px auto 10px;
    border: 1px solid black;
    border-radius: 4px;
    width: 450px;
    height: 500px;

    overflow-y: scroll;
}
