main {
    display: flex;
    flex-direction: row;

    min-height: 400px;
    padding-top: 30px;
    padding-bottom: 300px;

    background-color: #FAFAFA;
}

#form {
    width: 35%;
}

#book-library {
    width: 65%;
}
