main {
    display: flex;
    flex-direction: row;

    /* padding-top: 200px; */
    padding-bottom: 200px;

    background-color: #FAFAFA;
}

#book-form {
    width: 35%;
}

#book-library {
    width: 65%;
}
