footer {
    padding: 40px 200px;

    color: #676767;
    font-size: 0.9em;
    text-align: left;
}

.footer-main-link-list {
    list-style-type: none;
}

.footer-main-link, .footer-sub-link {
    margin-top: 20px;
    margin-bottom: 20px;

    cursor: pointer;
}

.footer-main-link:hover, .footer-sub-link:hover {
    color: #232323;
    text-decoration: underline;
}

.footer-main-link > a {
    color: inherit;
    text-decoration: none;
}

.footer-main-link-heading {
    margin-bottom: 30px;

    color: black;
    font-weight: bold;

    cursor: text;
}

.footer-main-link-heading:hover {
    color: initial;
    text-decoration: none;
}

#footer-main-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 30px;
}

#footer-sub-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 30px 0 60px;
}

#footer-sub-links > section:nth-child(1) > span {
    margin-right: 30px;
    color: #676767;
}

#footer-sub-links > section:nth-child(2) > span {
    text-decoration: none;
}

.footer-sub-icon {
    margin-left: 30px;

    color: #999999;
    font-size: 1.5em;
}

.footer-sub-icon:hover {
    color: black;
}

#footer-copyright {
    text-align: center;
}
